<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>h</key>
		<integer>301</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/205/994/623/aaa1c6500951483f86c04ef6840af42c_C_220_140.jpg</string>
		<key>price</key>
		<string>普达措国家公园</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>280</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g1/M04/7C/51/CghzfFWwwpyAJlp4ABjUJT7tT7k723_C_220_140.jpg</string>
		<key>price</key>
		<string>松赞林寺</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/612/205/241/52ffe9156ff34002b5813949719c0dbc_C_220_140.jpg</string>
		<key>price</key>
		<string>纳帕海</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>291</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g4/M01/0D/D7/CggYHlYBJqmAfe8mAAXEXbaqfeU073_C_220_140.jpg</string>
		<key>price</key>
		<string>香格里拉</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>301</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g1/M06/14/15/CghzflTLMTWAE9QfAAzzmcYZuq4921_C_220_140.jpg</string>
		<key>price</key>
		<string>白马雪山</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>262</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g2/M05/33/F9/Cghzf1V6qkeADxapAASkq-qOO7k652_C_220_140.jpg</string>
		<key>price</key>
		<string>巴拉格宗大峡谷</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>270</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/886/463/920/05d1a9e3986743d1837d09a7ceedfcb1_C_220_140.jpg</string>
		<key>price</key>
		<string>哈巴雪山</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>290</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/751/220/709/ebdc592f822a41f1b656e7256b400920_C_220_140.jpg</string>
		<key>price</key>
		<string>中虎跳</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>200</integer>
		<key>img</key>
		<string>http://i5.qhimg.com/t019339c0c46679662c.jpg</string>
		<key>price</key>
		<string>石卡雪山</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g2/M05/33/F9/Cghzf1V6qkeADxapAASkq-qOO7k652_C_220_140.jpg</string>
		<key>price</key>
		<string>巴拉格宗大峡谷</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>315</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g3/M03/1F/33/CggYG1XBfQeAbfNlABEsUTGJY_g664_C_220_140.jpg</string>
		<key>price</key>
		<string>属都湖</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g3/M03/1F/33/CggYG1XBfQeAbfNlABEsUTGJY_g664_C_220_140.jpg</string>
		<key>price</key>
		<string>碧塔海</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g2/M02/8C/E8/Cghzf1Ww-MuAeuP9AClMRZFF-eM415_C_220_140.jpg</string>
		<key>price</key>
		<string>大理古城</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>270</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g2/M02/87/19/Cghzf1WwqXWAdbz9ABpCzf8jYY0914_C_220_140.jpg</string>
		<key>price</key>
		<string>洱海</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>276</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g1/M04/7E/5F/CghzfFWw4geAT12QAB7YXR5-QWA181_C_220_140.jpg</string>
		<key>price</key>
		<string>双廊</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>270</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g2/M02/8B/A0/CghzgVWw6vCARCuiABjIYsdKcec275_C_220_140.jpg</string>
		<key>price</key>
		<string>苍山</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g1/M04/C7/78/CghzflWwsf-ALKkIADEDCkUGIGI783_C_220_140.jpg</string>
		<key>price</key>
		<string>大理崇圣寺三塔</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>289</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g3/M07/CB/21/CggYGVXtU_GACzfaADrqWhEbIxI622_C_220_140.jpg</string>
		<key>price</key>
		<string>喜洲</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>254</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/431/845/136/454835f162ee4b5fbc7b30a2da027eb6_C_220_140.jpg</string>
		<key>price</key>
		<string>南诏风情岛</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>267</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g2/M08/15/D9/Cghzf1TLFwmAaSS2AA5V4l5vT08896_C_220_140.jpg</string>
		<key>price</key>
		<string>蝴蝶泉</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>261</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g2/M05/8C/49/CghzgFWw6xeAZU5pACykMnVDBAI228_C_220_140.jpg</string>
		<key>price</key>
		<string>洋人街</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>288</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/621/861/255/a29eabed51644024a8bbc389db952e83_C_220_140.jpg</string>
		<key>price</key>
		<string>天龙八部影视城</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>290</integer>
		<key>img</key>
		<string>http://p.chanyouji.cn/1344389/983EB9BA-C99F-4A2E-850F-76094C543C1C.jpg?imageView/2/w/220/h/140</string>
		<key>price</key>
		<string>玉几岛</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>262</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g1/M07/A6/85/CghzfVWnYiKAMaFXAC4tCOyYlng240_C_220_140.jpg</string>
		<key>price</key>
		<string>沙溪古镇</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>264</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g2/M03/88/93/CghzgVWwvSeANn1JABRQXRn1jAA221_C_350_230.jpg</string>
		<key>price</key>
		<string>九寨沟风景区</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>273</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g2/M01/8A/95/CghzgFWw0EiAek_yACKz-aC-8hM947_C_350_230.jpg</string>
		<key>price</key>
		<string>五彩池</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/563/560/758/40b49cb4f0414d34a594fc41ef33ebc2_C_220_140.jpg</string>
		<key>price</key>
		<string>甘海子</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g2/M03/8A/9F/CghzgFWw0M6AeDV6AAtCgXheUfA471_C_350_230.jpg</string>
		<key>price</key>
		<string>五花海</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g2/M05/89/FC/CghzgVWw0NCAVV2LAA1b936KPjk139_C_350_230.jpg</string>
		<key>price</key>
		<string>长海</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>260</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/566/562/403/fde2b8cc9f2a4d41ac3f459ddaa68ccb_C_350_230.jpg</string>
		<key>price</key>
		<string>熊猫海</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>310</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/018/891/562/3b7ff22dcad745a4a51bfe8a7d449b56_C_350_230.jpg</string>
		<key>price</key>
		<string>原始森林</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>270</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g1/M01/C9/75/CghzflWwyuWAOAgWAA53BQzk0AM408_C_220_140.jpg</string>
		<key>price</key>
		<string>箭竹海</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>302</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g1/M00/7C/93/CghzfVWw0DOASDUJABiDDvmAtiI993_C_220_140.jpg</string>
		<key>price</key>
		<string>诺日朗瀑布</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g1/M0B/C8/21/CghzflWwuPmAbnmbABdun7dSVtw274_C_220_140.jpg</string>
		<key>price</key>
		<string>镜海</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>325</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g2/M00/89/F8/CghzgVWw0JWALaCUABw68l7uB0g791_C_220_140.jpg</string>
		<key>price</key>
		<string>珍珠滩瀑布</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>302</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/424/077/370/b086ad392ba04b469e286429904f6916_C_220_140.jpg</string>
		<key>price</key>
		<string>日则沟</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>301</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g2/M09/88/30/CghzgVWwuMyAY-8LAByWTFHH90I065_C_220_140.jpg</string>
		<key>price</key>
		<string>犀牛海</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>252</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/168/959/988/a07f5ee8eb9447b8bbc57a300d453ca1_C_220_140.jpg</string>
		<key>price</key>
		<string>树正沟</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>295</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/906/414/690/ec90c3b8b2f64415a30beae430b94d1b_C_220_140.jpg</string>
		<key>price</key>
		<string>珍珠滩</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>301</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/927/476/734/3303cc114c3c4462b4e0029fb4369eab_C_220_140.jpg</string>
		<key>price</key>
		<string>树正瀑布</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>270</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/fd/tg/g1/M01/C8/23/CghzflWwuQiAWSzbABV55G3PivU990_C_220_140.jpg</string>
		<key>price</key>
		<string> 芦苇海</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>248</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/894/540/100/1e5fe4f8640843ebaf2fe3ed2f115566_C_220_140.jpg</string>
		<key>price</key>
		<string>火花海</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>305</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/478/524/577/d5d1b697e2af4c0686569d27d864e48a_C_220_140.jpg</string>
		<key>price</key>
		<string>老虎海</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/462/747/348/b362774a15e54bce8b007a8728d597c8_C_220_140.jpg</string>
		<key>price</key>
		<string>盆景滩</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/740/488/662/19723481c2d24faa9a0496b26238ae08_C_220_140.jpg</string>
		<key>price</key>
		<string>熊猫海瀑布</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>313</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/762/285/006/cb158e89dff64218afa27b6e9126a4fd_C_220_140.jpg</string>
		<key>price</key>
		<string>天鹅海</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>267</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/296/592/967/0c775c84cbf1497fade16af37833d634_C_220_140.jpg</string>
		<key>price</key>
		<string> 卧龙海</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>219</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/075/691/139/bd4ea55dda674670bce1c8983bf4c049_C_220_140.jpg</string>
		<key>price</key>
		<string>双龙海</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>300</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/166/066/529/5c8ea160d19047b1947d9b4edfe88353_C_220_140.jpg</string>
		<key>price</key>
		<string>松潘古城</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
	<dict>
		<key>h</key>
		<integer>278</integer>
		<key>img</key>
		<string>http://dimg02.c-ctrip.com/images/tg/464/151/974/8bf5bb7746c14bd5a1f1752706010047_C_220_140.jpg</string>
		<key>price</key>
		<string>芳草海</string>
		<key>w</key>
		<integer>400</integer>
	</dict>
</array>
</plist>
